.git
.env
.env.*
node_modules
vendor
public/hot
public/storage
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
npm-debug.log
yarn-error.log
auth.json
